.gameControls {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRow {
  margin-bottom: 5px;
}

.gameControlBtn:hover {
  cursor: default;
}

.bottomRow .gameControlBtn {
  margin: 0 5px;
}

.gameWelcome {
  margin-bottom: 20px;
}

.gameInstructions {
  margin-bottom: 15px;
}
