@value mobileBreakpoint from '../../ui/metrics/metrics.module.css';

.page {
    margin: 10% 7.5%;
}

@media(min-width: mobileBreakpoint) {

    .page {
        margin: 100px 10%;
        padding: 75px 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 8px;
    }
    
}
