@value preload, textElemBorderRadius, textElemLineHeightMultiple from '../../../../../ui/preload/preload.module.css';
@value bodyTextSizeXSmall, bodyTextSizeSmall, bodyTextSizeXLarge from '../../../../../ui/text/text.module.css';
@value titleContainerMarginTopForCard, titleContainerMarginBottomForCard, titleContainerMarginTopForJumbotron, dateMarginBottom, tagPadding from '../blog_post.module.css';

.coverImg,
.title,
.date,
.tag,
.descriptionLineOne,
.descriptionLineTwo,
.descriptionLineThree {
    composes: preload;
}

.title,
.date,
.descriptionLineOne,
.descriptionLineTwo,
.descriptionLineThree {
    border-radius: textElemBorderRadius;
}

.title {
    height: calc(bodyTextSizeXLarge * textElemLineHeightMultiple * 1.2);
    margin-top: titleContainerMarginTopForCard;
    margin-bottom: titleContainerMarginBottomForCard;
    width: min(80%, 500px);
}

.jumbotron .title {
    margin-top: titleContainerMarginTopForJumbotron;
}

.date {
    height: calc(bodyTextSizeSmall * textElemLineHeightMultiple);
    margin-bottom: dateMarginBottom;
    width: 175px;
}

.descriptionLineOne,
.descriptionLineTwo,
.descriptionLineThree {
    height: calc(bodyTextSizeSmall * textElemLineHeightMultiple);
    margin: 5px 0;
}

.descriptionLineOne {
    width: 95%;
}

.descriptionLineTwo {
    width: 80%;
}

.descriptionLineThree {
    width: 90%;
}

.tag {
    height: bodyTextSizeXSmall;
    padding: tagPadding;
    width: 75px;
}
