@value breakpointSmall from '../../ui/metrics/breakpoints.module.css';
@value colourGrey100, colourDarkModeGrey50, colourDarkModeGrey700, colourDarkModeGrey800 from '../../ui/colours/colours.module.css';

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture {
    height: 150px;
    width: 150px;
    width: auto;
    border-radius: 50%;
    left: 50%;
    outline: 1px solid colourGrey100;
    outline-offset: 4px;
    object-fit: cover;    
}

.dark .picture { 
    outline: 1px solid colourDarkModeGrey700;
}

.interestsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interestsList.dark li::marker {
    color: colourDarkModeGrey50;
}

.horizontalDivider {
    width: 60%;
    height: 1px;
    margin: 30px auto;
  }
  
.horizontalDivider {
    background-color: colourGrey100;
}

.horizontalDivider.dark {
    background-color: colourDarkModeGrey800;
}

.hint {
    margin-top: 7.5px;
}

.resumePlug {
    margin-bottom: 25px;
}

@media(min-width: breakpointSmall) {

    .personableContent {
      width: 65%;
    }
}