@value colorGrey300, colorGrey500 from './../../../colors/colors.module.css';

@value menuHeight: 35px;

.horizontalMenu {
    list-style: none;
    height: menuHeight;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 300ms;
}

.linkContainer {
    width: 200px;
    display: flex;
    justify-content: center;
}

.link {
    position: relative;
    font-weight: 400;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    color: colorGrey300;
    transition: 0.4s;
}

.link.eightBit {
    font-family: "Press Start 2P", cursive;
}

.link:hover,
.link.active {
    color: colorGrey500;
}

.link.active:after {
    content: '';
    height: 2px;
    border-radius: 1px;
    width: 50%;
    background-color: colorGrey300;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}