@value colourMarioLightBrown, colourMarioWhite, colourGrey300, colourGrey500, colourDarkModeGrey200, colourDarkModeGrey500 from './../../../colours/colours.module.css';

@value menuHeight: 35px;

.horizontalMenu {
    list-style: none;
    height: menuHeight;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 300ms;
}

.linkContainer {
    width: 200px;
    display: flex;
    justify-content: center;
}

.link {
    position: relative;
    font-weight: 400;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    color: colourGrey300;
    transition: 0.4s;
}

.link.dark {
    color: colourDarkModeGrey500;
}

.link.eightBit {
    font-family: "Press Start 2P", cursive;
    transition: unset;
}

.link.eightBit.projects {
  color: colourMarioWhite;
  text-shadow: 0 2px black;
}

.link:hover,
.link.active {
    color: colourGrey500;
}

.link.dark:hover,
.link.dark.active {
    color: colourDarkModeGrey200;
}

.link.eightBit.projects:hover,
.link.eightBit.projects.active {
  color: colourMarioLightBrown;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}