@value flatGold from '../../../ui/colours/colours.module.css';
@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

@value bottomMargin: 7.5px;
@value boldFontWeight: 500;

.education {
    padding-left: 0;
}

.university,
.course,
.period,
.detail {
    margin-top: 0;
    margin-bottom: bottomMargin;
}

.university,
.course,
strong {
    font-weight: boldFontWeight;
}

.detailContainer {
    display: flex;
}

.university {
    color: flatGold;
}

@media(max-width: breakpointSmall) {

    .education {
        list-style: none;
    }

    .courseDetails {
        padding-left: 7.5%;
    }

}
