@value colorGrey500, flatGold from '../../../ui/colors/colors.module.css';
@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

@value bottomMargin: 7.5px;
@value boldFontWeight: 500;
@value experienceBottom: calc(4 * bottomMargin);

.experiences {
    padding-left: 0;
}

.experienceContainer:not(:last-of-type) {
    margin-bottom: experienceBottom;
}

.role,
.company,
.period,
.label,
.responsibility {
    margin-top: 0;
    margin-bottom: bottomMargin;
}

.role,
.company {
    font-weight: boldFontWeight;
}

.role {
    color: flatGold;
}

.company .link {
    color: inherit;
    text-decoration: none;
}

.company .link:hover {
    text-decoration: underline;
}

.period {
    color: colorGrey500;
}

.responsibilities {
    margin-top: 0;
}

@media(max-width: breakpointSmall) {

    .experiences {
        list-style: none;
    }

    .responsibilities {
        padding-left: 7.5%;
    }

    .responsibility {
        text-align: justify;
    }

}
