@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Ordinary text sizes */
@value ordTextSizeXSmall: 1.0rem;
@value ordTextSizeSmall: 1.1rem;
@value ordTextSizeMedium: 1.2rem;
@value ordTextSizeLarge: 1.4rem;
@value ordTextSizeXLarge: 1.6rem;

.eightBit {
    font-family: "Press Start 2P", cursive;
}

p.xSmall {
    font-size: ordTextSizeXSmall;
}

p.small {
    font-size: ordTextSizeSmall;
}

p.medium {
    font-size: ordTextSizeMedium;
}

p.large {
    font-size: ordTextSizeLarge;
}

p.xLarge {
    font-size: ordTextSizeXLarge;
}

.removeMargins {
    margin: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.italicized {
    font-style: italic;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: normal;
}

.semiBold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.none {
    text-transform: none;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}
