@value monoLightGrey from '../../../ui/colors/colors.module.css';
@value breakpointSmall from '../../../ui/metrics/metrics.module.css';

.blogPostsLayout {
    padding: 20px;
}

.separator {
    display: none;
}

@media (min-width: breakpointSmall) {

  .separator {
      width: 100%;
      background-color: monoLightGrey;
      height: 1px;
      margin: 20px 0;
      display: block;
  }
}