.siteTitleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.siteTitle {
    font-family: 'FreeMono', monospace;
    font-size: 4.5rem;
    font-weight: 500;
    color: black;
    content: "Book of S" !important;
    transition-delay: 500ms;
    word-spacing: 1000px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@media(min-width: 576px) {

    .siteTitle {
        white-space: nowrap;
        word-spacing: normal;
        font-size: 3.5rem;
    }

    .links {
        justify-content: space-around;
        width: 30%;
    }
}
