.siteTitleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.siteTitle {
    font-family: 'FreeMono', monospace;
    font-size: 3.5rem;
    font-weight: 500;
    color: black;
    word-spacing: 1000px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media(min-width: 576px) {

    .siteTitle {
        white-space: nowrap;
        word-spacing: normal;
    }

    .links {
        width: 40%;
    }
}
