@value lightGrey from './../colors/colors.module.css';

.button {
    background: none;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    transition: 0.4s;
    padding: 0.4rem 0.8rem;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    border: 1px solid lightGrey;
}

/* TODO: focus and active state styling */
