.button {
    background: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.4s;
    padding: 0.4rem 1rem;
}

.button:hover {
    cursor: pointer;
    /* color: white; */
    /* background: rgba(40, 40, 40, 80%); */
}

.button:disabled {
    cursor: not-allowed
}

/* TODO: focus and active state styling */
/* .button:focus {

}
.button:active {

} */
