@value monoLightGrey from './../colors/colors.module.css';

@value iconButtonSize: 24px;

/* TODO: focus and active state styling */

.button {
    background: none;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    transition: 300ms;
    padding: 0.4rem 0.8rem;
}

.button:hover,
.iconButton:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    border: 1px solid monoLightGrey;
}

.iconButton {
    border: none;
    background: none;
    padding: 0;
    height: iconButtonSize;
    width: iconButtonSize;
}

.iconButton:disabled svg {
    cursor: not-allowed;
    fill: monoLightGrey;
}

.iconButton svg {
    height: iconButtonSize;
    width: iconButtonSize;
}
