@value navHeight, navBackgroundColor, navBackgroundBlur, navBoxShadow, menuTransitionTime from './../nav.module.css';
@value menuHeight from './horizontal_menu/horizontal_menu.module.css';
@value colorGrey100, colorGrey200 from '../../colors/colors.module.css';

@value menuContainerHeight: calc(navHeight + menuHeight);

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: navHeight;
    box-sizing: border-box;
}

.mainNavbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    height: inherit;
}

.menuContainerOuter {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    box-shadow: navBoxShadow;
    padding: 2.5px 0;
    width: 100%;
    height: menuContainerHeight;
    box-sizing: border-box;
    transition: transform menuTransitionTime ease-in-out;
    transform: translateY(calc(-1 * menuContainerHeight));
    background-color: navBackgroundColor;
}

.navbarContainer.eightBit .menuContainerOuter {
    box-shadow: unset;
    box-shadow: inset -3px -3px 0px 0px colorGrey100;
}

.navbarContainer.eightBit .menuContainerOuter.withMenuOpen::after {
    content: "";
    position: absolute;
    width: calc(100% - 3px); /* 3px to match size of inset box shadow */
    height: 100%;
    box-sizing: content-box;
    top: 0;
    border-bottom: 2px colorGrey200 solid;
    z-index: -1;
}

.menuContainerOuter.withMenuOpen {
    transform: translateY(0);
}

.menuContainerInner {
    display: flex;
    justify-content: center;
    width: 100%;
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .menuContainerOuter {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
  