@value navHeight, navBackgroundColourLight, navBackgroundColourDark, navBackgroundBlur, navBoxShadowLight, menuTransitionTime from './../nav.module.css';
@value menuHeight from './horizontal_menu/horizontal_menu.module.css';
@value colourGrey100, colourGrey200, colourMarioDarkBrown, colourMarioLightBrown, colourDarkModeGrey400, colourDarkModeGrey700 from '../../colours/colours.module.css';

@value menuContainerHeight: calc(navHeight + menuHeight);

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: navHeight;
    box-sizing: border-box;
}

.mainNavbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    height: inherit;
}

.mainNavbar .leftPartition,
.mainNavbar .centrePartition,
.mainNavbar .rightPartition {
    display: flex;
}

.mainNavbar .centrePartition {
    width: 80%;
    justify-content: center;
}

.mainNavbar .leftPartition,
.mainNavbar .rightPartition {
    width: 7.5%;
}

.mainNavbar .leftPartition {
    justify-content: left;
}

.mainNavbar .rightPartition {
    justify-content: right;
}

.menuContainerOuter {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    box-shadow: navBoxShadowLight;
    padding: 2.5px 0;
    width: 100%;
    height: menuContainerHeight;
    box-sizing: border-box;
    transition: transform menuTransitionTime ease-in-out;
    transform: translateY(calc(-1 * menuContainerHeight));
    background-color: navBackgroundColourLight;
}

.navbarContainer.dark .menuContainerOuter {
    background-color: navBackgroundColourDark;
    box-shadow: none;
    border-bottom: 1px solid colourDarkModeGrey700;
}

.navbarContainer.dark:not(.eightBit) .menuContainerOuter {
    background-color: navBackgroundColourDark;
    box-shadow: none;
    border-color: colourDarkModeGrey700;
}

.navbarContainer.eightBit:not(.projects) .menuContainerOuter {
    box-shadow: inset -3px -3px 0px 0px colourGrey100;
}

.navbarContainer.eightBit.dark:not(.projects) .menuContainerOuter {
    box-shadow: inset -3px -3px 0px 0px colourDarkModeGrey400;
}

.navbarContainer.eightBit.projects .menuContainerOuter {
    background-color: colourMarioDarkBrown;
    box-shadow: inset -3px -3px 0px 0px colourMarioLightBrown;
}

.navbarContainer.eightBit .menuContainerOuter.withMenuOpen::after {
    content: "";
    position: absolute;
    width: calc(100% - 3px); /* 3px to match size of inset box shadow */
    height: 100%;
    box-sizing: content-box;
    top: 0;
    border-bottom: 2px colourGrey200 solid;
    z-index: -1;
}

.navbarContainer.eightBit.dark .menuContainerOuter.withMenuOpen::after {
    border-color: colourDarkModeGrey700;
}

.navbarContainer.eightBit.projects .menuContainerOuter.withMenuOpen::after {
    border-bottom: 2px black solid;
}

.menuContainerOuter.withMenuOpen {
    transform: translateY(0);
}

.menuContainerInner {
    display: flex;
    justify-content: center;
    width: 100%;
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .menuContainerOuter {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
  