button:focus{
    outline: none !important;
}

.lang-btn{
    background: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    min-width: 115px !important;
    box-sizing: border-box;
    transition: 0.4s;
    margin: 0px 5px !important;
    padding: 0.4rem 1rem;
    color: white;
    backdrop-filter: blur(3px);
    background: rgba(40, 40, 40, 80%);
}

.lang-btn:hover{
    background: rgb(228, 228, 228);
    color: rgba(40, 40, 40);;
}

.lang-btn ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.lang, .sel-lang{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
    margin-bottom: 0;
}

.sel-lang{
    font-weight: bold
}

.lang{
    position: relative;
}

.lang:hover{
    cursor: pointer;
}

.lang:hover:after {
    position: absolute;
    content: '';
    background: white;
    height: 2px;
    width: 33px;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
}

.lang-btn:hover .lang:hover:after{
    background: rgba(40, 40, 40, 80%);
}