.about-page{
    margin: 100px 10%;
    padding: 50px 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

.profile-pic{
    height: 200px;
    width: auto;
    border-radius: 50%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #D4AF37;
    border-color: linear-gradient(to bottom, #D4AF37 0%, #C5A028 100%);
    border-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D4AF37), color-stop(100%, #C5A028));
    border-color: -webkit-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
    border-color: -moz-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
    border-color: -o-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
    border-color: -ms-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 100%;
}

section h4{
    text-align: center;
}

.subheading{
    text-transform: uppercase;
}

.skills{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.skill{
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 500;
}

.skill.proficient{
    background: rgb(255, 119, 153);
}

.skill.familiar{
    background: rgb(211, 145, 255);
}