.code-page{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

.code-repos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    margin: auto 5%;
}

.code-page-title{
    text-align: center;
    font-family: "FreeMono", monospace;
}