.site-title-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title{
    font-family: 'FreeMono', monospace;
    font-size: 3.5rem;
    font-weight: 500;
    color: black;
    white-space: nowrap;
    content: "Book of S" !important;
    transition-delay: 500ms;
}

.site-title #dot{
    animation: change 1500ms step-end forwards;
}

@keyframes change{
    from{
        color: white
    }

    to{
        color: black;
    }
}

.links{
    display: flex;
    width: 35%;
    justify-content: space-around;
}

svg{
    color: black;
    height: 1.75rem !important;
    width: 1.75rem !important;
}