.music-page{
    background: rgb(60, 161, 255);
}

.music-videos{
    margin: auto 10%;
    display: flex;
}

/* 0.5625 */
iframe{
    width: 400px;
    height: 225px;
    margin: 10px;
}

.music-page-title{
    margin-bottom: 50px;
    margin-left: 205px;
}
