@value colourGrey100, colourGrey300, colourGreen300, colourGreen400, colourGrey500, colourDarkModeGrey700, colourMarioLightYellow, colourMarioYellow, colourMarioDarkYellow, colourMarioOrange from '../../../ui/colours/colours.module.css';
@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

.project {
	width: 100%;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 5%;
	position: relative;
}

.project:not(.eightBit):not(:last-of-type):after {
	position: absolute;
	bottom: -11px; /* row gap (10px) / 2 + height of line (2px) / 2 */
	left: 50%;
	transform: translateX(-50%);
	content: '';
	width: 90%;
	height: 2px;
	background-color: colourGrey100;
}

.project.eightBit {
	background-color: colourMarioLightYellow;
	box-shadow: unset;
	border-radius: unset;
	position: relative;
	box-shadow: inset -4px -4px 0px 0px colourMarioOrange;
}

.project:not(.eightBit):not(:last-of-type):after {
	display: none;
}

.project.eightBit:before,
.project.eightBit:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: content-box;
}

.project.eightBit:before {
		top: -2px;
		left: 0;
		border-top: 2px black solid;
		border-bottom: 2px black solid;
}

.project.eightBit:after {
		left: -2px;
		top: 0;
		border-left: 2px black solid;
		border-right: 2px black solid;
}

.title {
	margin-bottom: 10px;
}

.project.eightBit .title {
	color: colourMarioOrange;
}

.year {
	color: colourGrey300;
	margin-bottom: 25px;
}

.project.eightBit .year {
	color: black;
}

.description {
	margin-bottom: 15px;
}

.techList,
.contributorsList {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 5px;
}

.project.eightBit .techList,
.project.eightBit .contributorsList {
	gap: 10px 15px;
}

.contributorsList {
	margin-bottom: 25px;
}

.contributorCapsuleContainer,
.githubLinkContainer {
	z-index: 5;
}

.contributorCapsuleContainer {
	height: 24px;
}

.project.eightBit .contributorCapsule {
	background-color: colourMarioYellow;
}

.project.eightBit .contributorCapsule:hover {
	background-color: colourMarioDarkYellow;
}

.githubLinkContainer {
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.githubLink {
	color: colourGrey300;
	border-width: 2px;
	font-weight: bold;
	align-self: center;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
}

.project.dark:not(.eightBit) .githubLink:not(:hover) {
	background-color: transparent;
	border-color: colourDarkModeGrey700;
}

.project.eightBit .githubLink:not(:hover) {
	color: black;
	box-shadow: inset -2px -2px 0px 0px colourMarioOrange;
}

.githubLink:hover {
	background-color: colourGreen300;
	border-color: colourGreen300;
	color: white;
}

.githubLink.eightBit:hover {
	box-shadow: inset -3px -3px 0px 0px colourGreen400 !important;
}

@media(min-width: breakpointSmall) {

	.project {
		width: 25vw;
		padding: 2.5%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
	}

	.project.dark {
		box-shadow: none;
		border: 1px colourDarkModeGrey700 solid;
	}

}

@media(max-width: breakpointSmall) {

	.githubLink {
		background-color: colourGreen300;
		border-color: colourGreen300;
		color: white !important;
	}
	
	.githubLink.eightBit {
		box-shadow: inset -3px -3px 0px 0px colourGreen400 !important;
	}
}