@value colourDarkModeWhite from '../../ui/colours/colours.module.css';
@value breakpointSmall from '../../ui/metrics/breakpoints.module.css';

.siteTitleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.siteTitleContainer:not(.eightBit) .siteTitle {
    font-family: 'FreeMono', monospace;
}

.siteTitle {
    white-space: nowrap;
    font-size: 2.5rem !important;
    margin-bottom: 15px;
}

.siteTitleContainer.dark .siteTitle {
    color: colourDarkModeWhite;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@media(min-width: breakpointSmall) {

    .siteTitle {
        font-size: 3.5rem;
        word-spacing: normal;
    }

    .links {
        justify-content: space-around;
        width: 25%;
    }
}
