@value colourDarkModeGrey50 from '../../ui/colours/colours.module.css';
@value breakpointSmall from '../../ui/metrics/breakpoints.module.css';
@value eightBitFontScaleFactor from '../../ui/text/text.module.css';

@value titleFontSize: 3.25rem;

.siteTitleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.siteTitle {
    white-space: nowrap;
    font-size: titleFontSize !important;
    margin-bottom: 20px;
}

.siteTitleContainer.eightBit .siteTitle {
    font-size: calc(eightBitFontScaleFactor * titleFontSize) !important;
}

.siteTitleContainer.dark .siteTitle {
    color: colourDarkModeGrey50;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@media(min-width: breakpointSmall) {

    .siteTitle {
        font-size: 3.5rem;
        word-spacing: normal;
    }

    .links {
        justify-content: space-around;
        width: 25%;
    }
}
