@value breakpointSmall from './../../../../ui/metrics/metrics.module.css';
@value ordTextSizeXLarge from './../../../../ui/text/text.module.css';
@value monoDarkGrey from './../../../../ui/colors/colors.module.css';

@value blogPostHeight: 478px;

.blogPost {
  height: blogPostHeight;
}

.coverImgContainer {
  height: 200px;
}

.coverImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.titleContainer {
  margin-top: 15px;
  margin-bottom: 5px;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: calc(ordTextSizeXLarge * 1.2);
}

.title:hover {
  text-decoration: underline;
}

.tags {
  margin-top: 15px;
  display: flex;
  column-gap: 5px;
}

.tag {
  color: #345729;
  background-color: #D1F7C4;
  border-radius: 4px;
  padding: 6px;
}

.desc {
  font-style: italic;
  display: flex;
}

.date {
  margin-bottom: 15px;
  color: monoDarkGrey;
}

.jumbotron {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

.jumbotron .coverImgContainer {
  grid-column: 1 / 2;
  height: inherit;
}

.jumbotron .contentContainer {
  /* grid-column-start: 4; */
}

/* @media (min-width: breakpointSmall) {

  .blogPost.first {
    display: flex;
    column-gap: 10px;
  }

  .blogPost.first .tags {
    margin-top: 0;
  }
} */
