.projects-page{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    margin: auto 5%;
}

.projects-page-title{
    font-family: "FreeMono", monospace;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.projects-page-title:before{
    content: ">>>";
    font-weight: 100;
    position: absolute;
    transform: translateX(-90px);
}
