@value midGrey from '../../../ui/colors/colors.module.css';

.project {
	width: 30vw;
}

.title {
	margin-bottom: 10px;
}

.year {
	color: midGrey;
	margin-bottom: 25px;
}

.description {
	margin-bottom: 15px;
}

.techList, .contributorsList {
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.listCapsule {
	margin-right: 5px;
}

.githubLinkContainer {
	justify-self: flex-end;
	display: flex;
	justify-content: center;
}

.githubLink {
	color: #3e3e3e;
    border: 2px solid #3e3e3e;
	font-weight: bold;
	align-self: center;
}

.githubLink:hover {
	background-color: rgb(83, 197, 98);
    border-color: rgb(83, 197, 98);
    color: white;
}
