@value midGrey from '../../../ui/colors/colors.module.css';

@value githubGreen: rgb(83, 197, 98);

.project {
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
	display: flex;
	flex-direction: column;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
	padding: 5%;
}

.title {
	margin-bottom: 10px;
}

.year {
	color: midGrey;
	margin-bottom: 25px;
}

.description {
	margin-bottom: 15px;
}

.techList, .contributorsList {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
}

.contributorCapsuleContainer {
	height: 24px;
}

.githubLinkContainer {
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.githubLink {
	color: #3e3e3e;
	border: 2px solid #3e3e3e;
	font-weight: bold;
	align-self: center;
}

.githubLink:hover {
	background-color: githubGreen;
	border-color: githubGreen;
	color: white;
}

@media(min-width: 576px){

	.project {
		width: 25vw;
		padding: 2.5%;
	}

	/* .project-btn {
			background: white;
			color: #3e3e3e;
			border: 2px solid #3e3e3e;
	}

	.project-btn a {
			color: #3e3e3e;
	} */
}