@value colorDarkModeGrey from '../colors/colors.module.css';
@value breakpointSmall from '../metrics/breakpoints.module.css';

.pageContainer,
.pageContent {
  min-height: 100%;
  background-color: white;
}

.pageContainer.dark,
.pageContainer.dark .pageContent {
  background-color: colorDarkModeGrey;
}

.pageContent {
  padding: max(5%, 40px) 2.5%;
}

@media(min-width: breakpointSmall) {

  .pageContent {
    padding-top: 100px;
  }

}
