@value colourDarkModeGrey900 from '../colours/colours.module.css';
@value breakpointSmall from '../metrics/breakpoints.module.css';

.pageContainer,
.pageContent {
  min-height: 100%;
}

.pageContainer {
  background-color: white;
}

.pageContainer.dark {
  background-color: colourDarkModeGrey900;
}

.pageContent {
  padding: max(5%, 40px) 5%;
  padding-top: 70px;
}

@media(min-width: breakpointSmall) {

  .pageContent {
    padding: max(5%, 40px) 2.5%;
    padding-top: 100px;
  }
}
