@value colorGrey100 from '../../../ui/colors/colors.module.css';
@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

.separator {
    display: none;
}

@media (min-width: breakpointSmall) {

    .separator {
        width: 100%;
        background-color: colorGrey100;
        height: 1px;
        margin: 20px 0;
        display: block;
    }
}
