@value breakpointSmall from './../../ui/metrics/metrics.module.css';

@value gridPadding: 50px;

.blog {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blogPostsGridContainer {
  flex-grow: 1;
  padding-top: gridPadding;
}

@media(min-width: breakpointSmall) {
  .blogPostsGridContainer {
    padding: gridPadding;
  }
}
