.projectsPage {
  padding: 5% 2.5%;
}

.pageTitle {
  font-family: "FreeMono", monospace;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
