@value colourGrey100, colourGrey200, colourGrey300, colourGrey500, colourDarkModeGrey200, colourDarkModeGrey400, colourDarkModeGrey600, colourDarkModeGrey700, colourDarkModeGrey800, colourDarkModeGrey50, colourMarioWhite, colourMarioLightBrown, colourMarioDarkBrown, colourGreen400, colourGreen800 from './../../../colours/colours.module.css';
@value navHeight, navBackgroundColourLight, navBackgroundBlur, navBoxShadowLight, navBackgroundColourDark, menuTransitionTime from './../../nav.module.css';
@value toggleButtonDistanceFromEdge from './../hamburger_menu.module.css';
@value toggleButtonSideLength from './../buttons/toggle_menu_button/toggle_menu_button.module.css';

@value drawerHeight: 715px;

.drawer {
  background-color: navBackgroundColourLight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-1 * drawerHeight));
  padding: 70px calc(toggleButtonSideLength + toggleButtonDistanceFromEdge);
  transition: menuTransitionTime;
  box-shadow: navBoxShadowLight;
}

.drawer.dark:not(.error) {
  background-color: navBackgroundColourDark;
  box-shadow: unset;
  border-bottom: 1px solid colourDarkModeGrey700;
}

.drawer.error {
  background-color: colourGreen400;
}

.drawer.eightBit.error {
  box-shadow: inset -3px -3px 0px 0px colourGreen800;
}

.drawer.eightBit.projects {
  background-color: colourMarioDarkBrown;
  box-shadow: inset -3px -3px 0px 0px colourMarioLightBrown;
}

.drawer.eightBit::after {
  content: "";
  position: absolute;
  width: calc(100% - 3px); /* 3px to match size of inset box shadow */
  height: 100%;
  box-sizing: content-box;
  top: 0;
  border-bottom: 2px colourGrey200 solid;
  z-index: -1;
}

.drawer.eightBit.projects::after {
  border-color: black;
}

.drawer.eightBit:not(.projects).dark::after {
  border-color: colourDarkModeGrey700;
}

.drawer.eightBit.error::after {
  border-color: black;
}

.show {
  transform: translateY(0);
}

.verticalMenu {
  list-style: none;
  height: menuHeight;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.linkContainer {
  width: 90%;
  display: flex;
  justify-content: center;
}

.link {
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 10px;
  width: inherit;
  border-radius: 5px;
  border: 1px solid black;
}

.drawer.dark .link {
  background-color: transparent;
}

.drawer.eightBit .link {
  box-shadow: inset -2px -2px 0px 0px colourGrey100 !important;
}

.drawer.eightBit.dark .link {
  box-shadow: inset -2px -2px 0px 0px colourDarkModeGrey700 !important;
}

.drawer.eightBit .link.active,
.drawer.eightBit .themeOption.active,
.drawer.eightBit .appearanceOption.active,
.drawer.eightBit .localeOption.active {
  box-shadow: inset -3px -3px 0px 0px colourGrey300 !important;
}

.drawer.eightBit.projects .link,
.drawer.eightBit.projects .themeOption,
.drawer.eightBit.projects .appearanceOption,
.drawer.eightBit.projects .localeOption {
  background-color: colourMarioLightBrown;
}

.drawer.eightBit .themeOption,
.drawer.eightBit .appearanceOption,
.drawer.eightBit .localeOption {
  border: none;
  box-shadow: inset -2px -2px 0px 0px colourGrey100 !important;
}

.drawer.eightBit.dark .link.active,
.drawer.eightBit.dark .themeOption.active,
.drawer.eightBit.dark .appearanceOption.active,
.drawer.eightBit.dark .localeOption.active {
  box-shadow: inset -3px -3px 0px 0px colourDarkModeGrey400 !important;
}

.drawer.eightBit.dark .themeOption,
.drawer.eightBit.dark .appearanceOption,
.drawer.eightBit.dark .localeOption {
  box-shadow: inset -2px -2px 0px 0px colourDarkModeGrey700 !important;
}

.drawer.eightBit .link.active::before,
.drawer.eightBit .link.active::after {
  border-color: colourGrey500 !important;
}

.drawer.eightBit .themeOption::before,
.drawer.eightBit .themeOption::after,
.drawer.eightBit .appearanceOption::before,
.drawer.eightBit .appearanceOption::after,
.drawer.eightBit .localeOption::before,
.drawer.eightBit .localeOption::after {
  border-color: colourGrey200 !important;
}

.drawer.eightBit .themeOption.active::before,
.drawer.eightBit .themeOption.active::after,
.drawer.eightBit .appearanceOption.active::before,
.drawer.eightBit .appearanceOption.active::after,
.drawer.eightBit .localeOption.active::before,
.drawer.eightBit .localeOption.active::after {
  border-color: black !important;
}

.drawer.eightBit.dark .themeOption::before,
.drawer.eightBit.dark .themeOption::after,
.drawer.eightBit.dark .appearanceOption::before,
.drawer.eightBit.dark .appearanceOption::after,
.drawer.eightBit.dark .localeOption::before,
.drawer.eightBit.dark .localeOption::after {
  border-color: colourDarkModeGrey800 !important;
}

.drawer.eightBit.dark .link.active::before,
.drawer.eightBit.dark .link.active::after,
.drawer.eightBit.dark .themeOption.active::before,
.drawer.eightBit.dark .themeOption.active::after,
.drawer.eightBit.dark .appearanceOption.active::before,
.drawer.eightBit.dark .appearanceOption.active::after,
.drawer.eightBit.dark .localeOption.active::before,
.drawer.eightBit.dark .localeOption.active::after {
  border-color: colourDarkModeGrey500 !important;
}

.drawer.eightBit .link::before,
.drawer.eightBit .link::after {
  border-color: colourGrey200 !important;
}

.drawer.eightBit.dark .link::before,
.drawer.eightBit.dark .link::after {
  border-color: colourDarkModeGrey800 !important;
}

.drawer.eightBit.error .link::before,
.drawer.eightBit.error .link::after,
.drawer.eightBit.error .themeOption::before,
.drawer.eightBit.error .themeOption::after,
.drawer.eightBit.error .appearanceOption::before,
.drawer.eightBit.error .appearanceOption::after,
.drawer.eightBit.error .localeOption::before,
.drawer.eightBit.error .localeOption::after {
  border-color: colourGreen800 !important;
}

.drawer.eightBit.error .themeOption.active::before,
.drawer.eightBit.error .themeOption.active::after,
.drawer.eightBit.error .appearanceOption.active::before,
.drawer.eightBit.error .appearanceOption.active::after,
.drawer.eightBit.error .localeOption.active::before,
.drawer.eightBit.error .localeOption.active::after {
  border-color: white !important;
}

.drawer.eightBit.error .link.active,
.drawer.eightBit.error .themeOption.active,
.drawer.eightBit.error .appearanceOption.active,
.drawer.eightBit.error .localeOption.active {
  box-shadow: inset -3px -3px 0px 0px colourGreen800 !important;
}

.drawer.eightBit.projects .link,
.drawer.eightBit.projects .themeOption,
.drawer.eightBit.projects .appearanceOption,
.drawer.eightBit.projects .localeOption {
  box-shadow: inset -2px -2px 0px 0px colourMarioDarkBrown !important;
}

.drawer.eightBit.projects .themeOption,
.drawer.eightBit.projects .appearanceOption,
.drawer.eightBit.projects .localeOption {
  box-shadow: none !important;
}

.drawer.eightBit.projects .link.active,
.drawer.eightBit.projects .themeOption.active,
.drawer.eightBit.projects .appearanceOption.active,
.drawer.eightBit.projects .localeOption.active {
  box-shadow: inset -3px -3px 0px 0px colourMarioDarkBrown !important;
}

.drawer.eightBit.projects .link::before,
.drawer.eightBit.projects .link::after {
  border-color: colourMarioDarkBrown !important;
}

.drawer.eightBit.projects .themeOption:not(.active)::before,
.drawer.eightBit.projects .themeOption:not(.active)::after,
.drawer.eightBit.projects .appearanceOption:not(.active)::before,
.drawer.eightBit.projects .appearanceOption:not(.active)::after,
.drawer.eightBit.projects .localeOption:not(.active)::before,
.drawer.eightBit.projects .localeOption:not(.active)::after {
  border: none;
}

.drawer.eightBit.projects .link.active::before,
.drawer.eightBit.projects .link.active::after,
.drawer.eightBit.projects .themeOption.active::before,
.drawer.eightBit.projects .themeOption.active::after,
.drawer.eightBit.projects .appearanceOption.active::before,
.drawer.eightBit.projects .appearanceOption.active::after,
.drawer.eightBit.projects .localeOption.active::before,
.drawer.eightBit.projects .localeOption.active::after {
  border-color: black !important;
}

.drawer:not(.eightBit) .link,
.drawer:not(.eightBit) .themeOption,
.drawer:not(.eightBit) .appearanceOption,
.drawer:not(.eightBit) .localeOption {
  border: 1px solid colourGrey100;
}

.drawer:not(.eightBit) .link.active,
.drawer:not(.eightBit) .themeOption.active,
.drawer:not(.eightBit) .appearanceOption.active,
.drawer:not(.eightBit) .localeOption.active {
  border: 1px solid colourGrey200;
}

.drawer.dark:not(.eightBit) .link,
.drawer.dark:not(.eightBit) .themeOption,
.drawer.dark:not(.eightBit) .appearanceOption,
.drawer.dark:not(.eightBit) .localeOption {
  border: 1px solid colourDarkModeGrey700;
}

.drawer.dark:not(.eightBit) .link.active,
.drawer.dark:not(.eightBit) .themeOption.active,
.drawer.dark:not(.eightBit) .appearanceOption.active,
.drawer.dark:not(.eightBit) .localeOption.active {
  border: 1px solid colourDarkModeGrey200;
}

.drawer.eightBit.error .link,
.drawer.eightBit.error .themeOption,
.drawer.eightBit.error .appearanceOption,
.drawer.eightBit.error .localeOption {
  box-shadow: inset -2px -2px 0px 0px white !important;
}

.drawer.dark .horizontalDivider {
  background-color: colourDarkModeGrey700;
}

.themeAppearanceOptionsContainer,
.localeOptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.themeAppearanceOptions,
.localeOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.themeOption,
.appearanceOption,
.localeOption {
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-bottom: 5px;
}

.themeAppearanceButton:not(:first-of-type) {
  margin: 0 15px;
}

.themeAppearanceButton,
.localeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.localeButton {
  width: 65px;
  margin: 0 7.5px;
}

.localeOption {
  width: 65px;
}

.verticalDivider {
  top: 50%;
  content: '';
  height: 50px;
  width: 1px;
}

.horizontalDivider {
  width: 50%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.verticalDivider,
.horizontalDivider {
  background-color: colourGrey200;
}

.drawer.dark .verticalDivider,
.drawer.dark .horizontalDivider {
  background-color: colourDarkModeGrey800;
}

.drawer.projects.eightBit .verticalDivider, 
.drawer.projects.eightBit .horizontalDivider {
  background-color: colourMarioLightBrown;
}

.drawer.projects.eightBit .textContent {
  color: colourMarioWhite;
  text-shadow: 0 2px black;
}

.drawer.error .link,
.drawer.error .appearanceOption,
.drawer.error .themeOption,
.drawer.error .localeOption {
  border-color: colourGreen800;
}

.drawer.error .appearanceOption.active,
.drawer.error .themeOption.active,
.drawer.error .localeOption.active {
  border-color: white;
}

.drawer.error .textContent {
  color: white;
}

.drawer.error .verticalDivider,
.drawer.error .horizontalDivider {
  background-color: white;
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .drawer {
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(10px);
  }
}
