.blogPostsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 10px;
  justify-content: space-around;
}

/* update this so that the first row is the jumbotron, followed by the cards in the following */
