.react {
  background-color: #FEDCE5;
}

.redux {
  background-color: rgb(217, 206, 253);
}

.html {
  background-color: #CFDFFF;
}

.css {
  background-color: rgb(239, 213, 254);
}

.python {
  background-color: #EDE2FE;
}

.java {
  background-color: rgb(255, 240, 153);
}

.javascript {
  background-color: #D0F0FD;
}

.typescript {
  background-color: #FFEAB6;
}

.mySql {
  background-color: #FEDAF6;
}

.redux {
  background-color: rgb(231, 218, 254);
}

.mobx {
  background-color: rgb(231, 218, 254);
}

.firebase {
  background-color: #D0F0FD;
}

.node {
  background-color: #FEDAF6;
}

.cSharp {
  background-color: #D1F7C4;
}

.git {
  background-color: #FFEAB6;
}

.mongoDb {
  background-color: rgb(247, 220, 254);
}

.csharp {
  background-color: #D1F7C4;
}

.unity {
  background-color: #C2F5E9;
}

.androidStudio {
  background-color: #f1ffb1;
}

.jQuery {
  background-color: rgb(207, 220, 255);
}
