@value colourGrey500, colourYellow400, colourRed100, colourPink500, colourLavender500, colourRoyalBlue300, colourRoyalBlue500, colourSkyBlue300, colourPurple300, colourPurple500, colourGold300, colourTeal500, colourLimeGreen400, colourGreen50 from '../../../../ui/colours/colours.module.css';
@value colourRed300, colourPurple700, colourRoyalBlue500, colourLavender700, colourPurple500, colourYellow600, colourSkyBlue500, colourGold500, colourPink700, colourPink700, colourGold500, colourLavender700, colourGreen200, colourTeal700, colourLimeGreen600, colourRoyalBlue700 from '../../../../ui/colours/colours.module.css';

.react {
  background-color: colourRed100;
}

.react.dark {
  background-color: colourRed300;
}

.redux {
  background-color: colourPurple500;
}

.redux.dark {
  background-color: colourPurple700;
}

.html {
  background-color: colourRoyalBlue300;
}

.html.dark {
  background-color: colourRoyalBlue500;
}

.css {
  background-color: colourLavender500;
}

.css.dark {
  background-color: colourLavender700;
}

.python {
  background-color: colourPurple300;
}

.python.dark {
  background-color: colourPurple500;
}

.java {
  background-color: colourYellow400;
}

.java.dark {
  background-color: colourYellow600;
}

.javascript {
  background-color: colourSkyBlue300;
}

.javascript.dark {
  background-color: colourSkyBlue500;
}

.typescript {
  background-color: colourGold300;
}

.typescript.dark {
  background-color: colourGold500;
}

.mySql {
  background-color: colourPink500;
}

.mySql.dark {
  background-color: colourPink700;
}

.redux {
  background-color: colourPurple300;
}

.redux.dark {
  background-color: colourPurple500;
}

.mobx {
  background-color: colourPurple300;
}

.mobx.dark {
  background-color: colourPurple500;
}

.firebase {
  background-color: colourSkyBlue300;
}

.firebase.dark {
  background-color: colourSkyBlue500;
}

.node {
  background-color: colourPink500;
}

.node.dark {
  background-color: colourPink700;
}

.cSharp {
  background-color: colourGreen50;
}

.cSharp.dark {
  background-color: colourGreen200;
}

.git {
  background-color: colourGold300;
}

.git.dark {
  background-color: colourGold500;
}

.mongoDb {
  background-color: colourLavender500;
}

.mongoDb.dark {
  background-color: colourLavender700;
}

.cSharp {
  background-color: colourGreen50;
}

.cSharp.dark {
  background-color: colourGreen200;
}

.unity {
  background-color: colourTeal500;
}

.unity.dark {
  background-color: colourTeal700;
}

.androidStudio {
  background-color: colourLimeGreen400;
}

.androidStudio.dark {
  background-color: colourLimeGreen600;
}

.jQuery {
  background-color: colourRoyalBlue500;
}

.jQuery.dark {
  background-color: colourRoyalBlue700;
}
