.sections,
.subSections {
  display: flex;
  flex-direction: column;
}

.sections {
  padding: 10px 0;
  row-gap: 10px;
}

.subSections {
  padding: 7.5px 0;
  row-gap: 7.5px;
}

.categoryName,
.sectionName,
.sectionDesc,
.subSectionName,
.subSectionDesc {
  margin-top: 0;
}

.categoryName {
  margin-bottom: 0.5rem;
}

.sectionName {
  margin-bottom: 0.3rem;
}

.subSectionName {
  margin-bottom: 0.2rem;
}

.thumbnails {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.thumbnails::after{
  content: '';
  flex-grow: 999999999;
}

.thumbnail {
  flex-grow: 1;
  margin: 2px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.thumbnail img {
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}