@value colourGrey300, colourGrey500 from '../../../ui/colours/colours.module.css';

.creativeCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.sections,
.subSections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sections {
  padding: 10px 0;
  row-gap: 10px;
}

.subSections {
  padding: 7.5px 0;
  row-gap: 7.5px;
}

.categoryName,
.sectionName,
.sectionDesc,
.subSectionName,
.subSectionDesc {
  margin-top: 0;
}

.categoryName {
  margin-bottom: 0.75rem;
  display: inline;
}

.sectionName,
.subSectionName {
  margin-bottom: 0.3rem;
}

.sectionDesc,
.subSectionDesc {
  color: colourGrey500;
}
