.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
    padding: 0.5rem 0;
    box-sizing: border-box;
    right: 25px;
    position: absolute;
}

.toggle-button:focus {
    outline: none;
    cursor: pointer;
}

.line.active:before,
.line.active:after{
    background: #3a3a3a;
}

.line:after,
.line:before,
.line div {
  background: #3a3a3a;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 7px 0;
  transition: all .3s ease-in-out;
}

.line {
    width: 35px;
}

.line.active:before {
    background: white;
    transform: translateY(5px) rotate(135deg) scale(0.75);
}

.line.active:after {
    background: white;
    transform: translateY(-5px) rotate(-135deg) scale(0.75);
}

.line:hover div {
    transform: scale(0);
}

@media(min-width: 576px){
    .toggle-button{
        display: none;
    }
}