@value colourMarioWhite, colourMarioOrange from '../../ui/colours/colours.module.css';
@value breakpointSmall from '../../ui/metrics/breakpoints.module.css';
@value baseCloudHeight: calc(100vh / 10);
@value brickHeight: max(5%, 40px);

.pageBackground.eightBit {
  background: 

    url("./assets/blocks-left.svg") left calc(100% - 48px)/25% no-repeat,
    url("./assets/blocks-right.svg") right calc(100% - 48px)/25% no-repeat,

    url("./assets/cloud.svg") -2% baseCloudHeight/118px auto no-repeat,
    url("./assets/cloud.svg") 6% calc(baseCloudHeight + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") 101% calc(baseCloudHeight + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 90% baseCloudHeight/118px auto no-repeat,

    url("./assets/cloud.svg") 102% calc(baseCloudHeight * 8)/118px auto no-repeat,
    url("./assets/cloud.svg") 94% calc(baseCloudHeight * 8 + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") -1% calc(baseCloudHeight * 8 + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 10% calc(baseCloudHeight * 8)/118px auto no-repeat,

    url("./assets/cloud.svg") -2% calc(baseCloudHeight * 16)/118px auto no-repeat,
    url("./assets/cloud.svg") 6% calc(baseCloudHeight * 16 + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") 101% calc(baseCloudHeight * 16 + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 90% calc(baseCloudHeight * 16)/118px auto no-repeat,

    url("./assets/brick.png") center bottom repeat-x,
    #9290FF;
  /* background-attachment: fixed; */
}

.pageBackground.eightBit.dark {
  background-color: #08082d;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

@media(max-width: breakpointSmall) {

  .projectsPage.eightBit .pageTitleContainer {
    margin-bottom: 25px;
  }

}
