@value marioWhite, marioOrange from '../../ui/colors/colors.module.css';
@value baseCloudHeight: calc(100vh / 10);
@value brickHeight: max(5%, 40px);

.pageTitleContainer {
  display: flex;
  justify-content: center;  
}

.pageTitle {
  position: relative;
}

.projectsPage.eightBit .pageTitle {
  background-color: marioOrange;
  color: marioWhite;
  text-shadow: 0 3px black; 
  padding: 0 10px;
}

.projectsPage.eightBit .pageTitle:before,
.projectsPage.eightBit .pageTitle:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.projectsPage.eightBit .pageTitle:before {
  top: -2.5px;
  left: 0;
  border-top: 2.5px white solid;
  border-bottom: 2.5px black solid;
}

.projectsPage.eightBit .pageTitle:after {
  left: -2.5px;
  top: 0;
  border-left: 2.5px white solid;
  border-right: 2.5px black solid; 
}

.pageBackground.eightBit {
  background: 

    url("./assets/blocks-left.svg") left calc(100% - 48px)/25% no-repeat,
    url("./assets/blocks-right.svg") right calc(100% - 48px)/25% no-repeat,

    url("./assets/cloud.svg") -2% baseCloudHeight/118px auto no-repeat,
    url("./assets/cloud.svg") 6% calc(baseCloudHeight + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") 101% calc(baseCloudHeight + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 90% baseCloudHeight/118px auto no-repeat,

    url("./assets/cloud.svg") 102% calc(baseCloudHeight * 8)/118px auto no-repeat,
    url("./assets/cloud.svg") 94% calc(baseCloudHeight * 8 + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") -1% calc(baseCloudHeight * 8 + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 10% calc(baseCloudHeight * 8)/118px auto no-repeat,

    url("./assets/cloud.svg") -2% calc(baseCloudHeight * 16)/118px auto no-repeat,
    url("./assets/cloud.svg") 6% calc(baseCloudHeight * 16 + 150px)/118px auto no-repeat,
    url("./assets/cloud.svg") 101% calc(baseCloudHeight * 16 + 110px)/118px auto no-repeat,
    url("./assets/cloud.svg") 90% calc(baseCloudHeight * 16)/118px auto no-repeat,

    url("./assets/brick.png") center bottom repeat-x,
    #9290FF;
  /* background-attachment: fixed; */
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 2.5%;
}

@media(max-width: breakpointSmall) {

  .projectsPage.eightBit .pageTitle {
    margin-bottom: 25px;
  }

}
