.pageTitleContainer {
  display: flex;
  justify-content: center;
}

.pageTitle {
  position: relative;
}

.projectsPage:not(.eightBit) .pageTitle {
  font-family: "FreeMono", monospace;
}

.pageTitle:before {
  content: ">>>";
  font-weight: 100;
  position: absolute;
  transform: translateX(-65px);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 2.5%;
}
