@value ordTextSizeXLarge from './../../../ui/text/text.module.css';

.blogPost {
  width: 350px;
}

.coverImg {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 8px;
}

.titleContainer {
  margin: 15px 0;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: calc(ordTextSizeXLarge * 1.2);
}

.title:hover {
  text-decoration: underline;
}

.tags {
  margin: 15px 0;
  display: flex;
}

.tag {
  color: #345729;
  background-color: #D1F7C4;
  border-radius: 4px;
  padding: 6px;
}

.desc {
  font-style: italic;
  display: flex;
}
