@value breakpointSmall, breakpointMedium, breakpointLarge from './../../../../ui/metrics/breakpoints.module.css';

@value cardsPerRowMedium: 2;
@value cardsPerRowLarge: 3;
@value cardsPerRowXLarge: 4;

.blogPostsGrid {
    display: grid;
    grid-gap: 30px 10px;
    justify-content: space-around;
}

@media (min-width: breakpointSmall) {

    .blogPostsGrid {
        justify-content: space-around;
        grid-template-columns: repeat(cardsPerRowMedium, 1fr);
    }
}

@media (min-width: breakpointMedium) {

    .blogPostsGrid {
        grid-template-columns: repeat(cardsPerRowLarge, 1fr);
    }
}

@media (min-width: breakpointLarge) {

    .blogPostsGrid {
        grid-template-columns: repeat(cardsPerRowXLarge, 1fr);
    }
}
