@value breakpointSmall, breakpointMedium, breakpointLarge from './../../../../ui/metrics/metrics.module.css';

.blogPostsGrid {
    display: grid;
    grid-gap: 30px 10px;
    justify-content: space-around;
}

@media (min-width: breakpointSmall) {

    .blogPostsGrid {
        justify-content: space-around;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: breakpointMedium) {

    .blogPostsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: breakpointLarge) {

    .blogPostsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
