@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@value colorGrey100, colorGrey300 from '../../../ui/colors/colors.module.css';
@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

.blogHeader {
	height: 175px;
	position: relative;
	box-sizing: border-box;
}

.title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

.subtitle {
	color: colorGrey300;
	margin-bottom: 10px;
}

.blogHeader.eightBit .subtitle {
	font-family: 'Tinos', serif;
}

.wave {
	width: 100%;
}

.wave svg path {
   stroke: colorGrey100;
   stroke-width: 1px;
}

@media(min-width: breakpointSmall) {

	.subtitle {
		margin-bottom: 0;
	}

	.wave svg path {
		stroke-width: 0.5px;
	}
    
}
