@value monoLightGrey, monoDarkGrey from '../../../colors/colors.module.css';

.navbarButton {
    border: 1px solid monoLightGrey;
    box-sizing: border-box;
    transition: 500ms;
    color: monoDarkGrey;
    text-transform: uppercase;
    min-width: 115px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.navbarButton:hover {
    color: white;
    border: 1px solid monoDarkGrey;
    background-color: monoDarkGrey;
}
