@value colorGrey100, colorGrey200, colorGrey300, colorGrey500 from '../../../colors/colors.module.css';

.navbarButton {
    border: 1px solid colorGrey100;
    transition: 500ms;
    text-transform: uppercase;
    min-width: 115px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.navbarButton:hover {
    color: white;
    border: 1px solid colorGrey500;
    background-color: colorGrey500;
}

.navbarButton.eightBit {
    transition: unset;
    box-shadow: inset -2px -2px 0px 0px colorGrey100;
}

.navbarButton.eightBit:hover {
    box-shadow: inset -3px -3px 0px 0px colorGrey300 !important;
}

.navbarButton.eightBit:not(:hover):before {
    border-top-color: colorGrey200;
    border-bottom-color: colorGrey200;
}

.navbarButton.eightBit:not(:hover):after {
    border-left-color: colorGrey200;
    border-right-color: colorGrey200;
}
