@value colourGrey100, colourGrey200, colourGrey300, colourGrey500, colourDarkModeGrey200, colourDarkModeGrey400, colourDarkModeGrey700, colourDarkModeGrey800, colourMarioWhite, colourMarioDarkBrown, colourMarioLightBrown, colourGreen400, colourGreen800 from '../../../colours/colours.module.css';

.navbarButton {
    transition: 200ms;
    text-transform: uppercase;
    width: 115px;
    height: 32px;
    background-color: colourGrey100;
    margin: auto 2px;
}

.navbarButton.dark {
    background-color: transparent;
    color: colourDarkModeGrey200;
}

.navbarButton:not(.eightBit) {
    border: 1px solid colourGrey100 !important;
}

.navbarButton:not(.eightBit).dark {
    border-color: colourDarkModeGrey800 !important;
}

.navbarButton.eightBit {
    transition: unset;
}

.navbarButton.eightBit,
.navbarButton.eightBit:active,
.navbarButton.eightBit:focus {
    border-color: transparent;
    box-shadow: inset -2px -2px 0px 0px colourGrey100 !important;
}

.navbarButton.eightBit.dark,
.navbarButton.eightBit.dark:active,
.navbarButton.eightBit.dark:focus {
    box-shadow: inset -2px -2px 0px 0px colourDarkModeGrey400 !important;
}

.navbarButton.eightBit.projects,
.navbarButton.eightBit.projects:active,
.navbarButton.eightBit.projects:focus {
    border-color: colourMarioDarkBrown;
    color: colourMarioWhite;
    text-shadow: 0 2px black;
    background-color: colourMarioLightBrown;
    box-shadow: inset -2px -2px 0px 0px colourMarioDarkBrown !important;
}

.navbarButton.eightBit:hover {
    box-shadow: inset -3px -3px 0px 0px colourGrey300 !important;
}

.navbarButton.eightBit.dark:hover {
    box-shadow: inset -3px -3px 0px 0px colourGrey700 !important;
}

.navbarButton.eightBit.dark:not(.projects):not(.error):hover:before {
    border-top-color: colourDarkModeGrey700;
    border-bottom-color: colourDarkModeGrey700;
}

.navbarButton.eightBit.dark:not(.projects):not(.error):hover:after {
    border-left-color: colourDarkModeGrey700;
    border-right-color: colourDarkModeGrey700;
}

.navbarButton:not(.eightBit):not(.projects):not(.error):not(.dark):hover {
    border: 1px solid colourGrey200 !important;
}

.navbarButton.eightBit.projects:hover {
    border-color: colourMarioDarkBrown;
    box-shadow: inset -3px -3px 0px 0px colourMarioDarkBrown !important;
}

.navbarButton.dark:not(.eightBit):not(.projects):not(.error).dark:hover {
    border-color: colourDarkModeGrey200 !important;
}

.navbarButton.eightBit:not(.projects):not(.error):not(:hover):before {
    border-top-color: colourGrey200;
    border-bottom-color: colourGrey200;
}

.navbarButton.eightBit:not(.projects):not(.error):not(:hover):after {
    border-left-color: colourGrey200;
    border-right-color: colourGrey200;
}

.navbarButton.eightBit.dark:not(.projects):not(.error):not(:hover):before {
    border-top-color: colourDarkModeGrey700;
    border-bottom-color: colourDarkModeGrey700;
}

.navbarButton.eightBit.dark:not(.projects):not(.error):not(:hover):after {
    border-left-color: colourDarkModeGrey700;
    border-right-color: colourDarkModeGrey700;
}

.navbarButton.eightBit.projects:not(:hover):before {
    border-top-color: black;
    border-bottom-color: black;
}

.navbarButton.eightBit.projects:not(:hover):after {
    border-left-color: black;
    border-right-color: black;
}

.navbarButton.eightBit.projects:hover:before {
    border-top-color: colourMarioWhite !important;
}

.navbarButton.eightBit.projects:hover:after {
    border-left-color: colourMarioWhite !important;
}

/* error page */
.navbarButton.error {
    color: white;
    background-color: colourGreen400 !important;
    border-color: colourGreen800  !important;
}

.navbarButton.error:hover {
    border-color: white !important;
}

.navbarButton.eightBit.error:not(:hover):before {
    border-top-color: colourGreen800;
    border-bottom-color: colourGreen800;
}

.navbarButton.eightBit.error:not(:hover):after {
    border-left-color: colourGreen800;
    border-right-color: colourGreen800;
}

.navbarButton.eightBit.error:hover {
    border-color: colourGreen800;
    box-shadow: inset -3px -3px 0px 0px colourGreen800 !important;
}

.navbarButton.eightBit.error:hover:before {
    border-top-color: white;
    border-bottom-color: white;
}

.navbarButton.eightBit.error:hover:after {
    border-left-color: white;
    border-right-color: white;
}


@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbarButton {
        background-color: unset;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}
