@value navHeight, navBackgroundColor, navBackgroundBlur, navBoxShadow, menuTransitionTime from './../../nav.module.css';
@value monoMidGrey from './../../../colors/colors.module.css';
@value distanceFromEdge, toggleButtonSideLength from './../buttons/toggle_menu_button/toggle_menu_button.module.css';

@value drawerHeight: 30vh;

.drawer {
  background-color: navBackgroundColor;
  backdrop-filter: navBackgroundBlur;
  display: flex;
  justify-content: center;
  transform: translateY(calc(-1 * drawerHeight));
  padding: 70px calc(toggleButtonSideLength + distanceFromEdge);
  transition: 500ms;
  box-shadow: navBoxShadow;
}

.show {
  transform: translateY(0);
}

.verticalMenu {
  list-style: none;
  height: menuHeight;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.linkContainer {
  width: inherit;
  display: flex;
  justify-content: center;
}

.link {
  text-transform: uppercase;
  text-align: center;
  color: monoDarkGrey;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 10px;
  width: inherit;
  border-radius: 5px;
}

.link.active {
  color: white;
  background-color: monoMidGrey;
}
