@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    height: 100vh;  /* needed to act as a reference for the #root's height */
    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
}

#root {
    height: 100%;
}

.eightBit {
    font-family: "Press Start 2P", cursive;
}
