@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@value breakpointSmall from './../../../../ui/metrics/breakpoints.module.css';
@value colourLimeGreen100, colourLimeGreen500, colourGrey500, colourDarkModeGrey900 from './../../../../ui/colours/colours.module.css';

@value blogPostHeight: 478px;
@value titleContainerMarginTopForCard: 15px;
@value titleContainerMarginBottomForCard: 5px;
@value titleContainerMarginTopForJumbotron: 5px;
@value dateMarginBottom: 15px;
@value tagPadding: 6px;

.coverImgContainer {
    height: 200px;
}

.coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogPost:not(.eightBit) .coverImg {
    border-radius: 8px;
}

.titleContainer {
    margin-top: titleContainerMarginTopForCard;
    margin-bottom: titleContainerMarginBottomForCard;
}

.title:hover {
    text-decoration: underline;
}

.tags {
    margin-top: 15px;
    display: flex;
    column-gap: 5px;
}

.tag {
    color: colourLimeGreen500;
    background-color: colourLimeGreen100;
    border-radius: 4px;
    padding: tagPadding;
}

.tag.dark .tagText {
    color: colourDarkModeGrey900;
}

.blogPost:not(.eightBit) .desc,
.blogPost:not(.eightBit) .date,
.blogPost:not(.eightBit) .tag {
    font-family: 'Tinos', serif;
}

.date {
    margin-bottom: dateMarginBottom;
    color: colourGrey500;
}

.jumbotron {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    height: blogPostHeight;
}

.jumbotron .coverImgContainer {
    grid-column: 1 / 2;
    height: inherit;
}

.jumbotron .contentContainer .titleContainer {
    margin-top: titleContainerMarginTopForJumbotron;
}
