@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';

.friendshipsPhotoContainer {
  width: 100%;
  position: relative;
  margin: 150px 0;
}

.pictureFrame {
  width: 100%;
}

.overlayFriendPictureContainer {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.overlayFriendPictureContainer:hover .overlayFriendPicture {
  transform: scale(1.05);
}

.overlayFriendPicture {
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.stefan {
  width: 26%;
  left: -1.5%;
  top: -16.28%;
}

.asil {
  z-index: 2;
  width: 23%;
  right: -4%;
  top: 28%;
}

.cissa {
  width: 33.5%;
  right: -0.5%;
  top: -7.24%;
}

.curzon {
  z-index: 2;
  width: 30%;
  left: -0.5%;
  bottom: 5.43%;
}

.family {
  z-index: 3;
  width: 24%;
  left: 21%;
  bottom: -13.86%;
}

.johnAsil {
  width: 28%;
  left: 37%;
  top: -15.19%;
}

.josh {
  width: 23%;
  left: 28%;
  bottom: 27.14%;
}

.mihirBev {
  z-index: 3;
  width: 36%;
  left: 46.5%;
  bottom: -10.86%;
}

.rohyl {
  width: 5.5%;
  left: 30%;
  top: 12.67%;
}

.shevon {
  width: 6.75%;
  left: 22%;
  top: 17.92%;
}

@media(min-width: breakpointSmall) {

  .friendshipsPhotoContainer {
    width: 65%;
  }
}
