@value breakpointSmall from '../../../ui/metrics/breakpoints.module.css';
@value colourDarkModeGrey50 from '../../../ui/colours/colours.module.css';

@value tooltipMargin: 40px;
@value tooltipArrowSize: 6px;

.friendshipsPhotoContainer {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 150px 0;
}

.pictureFrame {
  width: 100%;
}

.overlayFriendPictureContainerOuter {
  position: absolute;
  z-index: 1;
}

.overlayFriendPictureContainerOuter:hover .overlayFriendPicture {
  transform: scale(1.03);
}

.overlayFriendPictureContainerInner,
.overlayFriendPicture {
  width: 100%;
  height: 100%;
}

.overlayFriendPictureContainerInner {
  overflow: hidden;
}

.overlayFriendPicture {
  transition: 500ms;
}

.stefan {
  width: 26%;
  left: -1.5%;
  top: -16.28%;
}

.asil {
  z-index: 2;
  width: 23%;
  right: -4%;
  top: 28%;
}

.cissa {
  width: 33.5%;
  right: -0.5%;
  top: -7.24%;
}

.curzon {
  z-index: 2;
  width: 30%;
  left: -0.5%;
  bottom: 5.43%;
}

.family {
  z-index: 3;
  width: 24%;
  left: 21%;
  bottom: -13.86%;
}

.johnAsil {
  width: 28%;
  left: 37%;
  top: -15.19%;
}

.josh {
  width: 23%;
  left: 28%;
  bottom: 27.14%;
}

.mihirBev {
  z-index: 3;
  width: 36%;
  left: 46.5%;
  bottom: -10.86%;
}

.rohyl {
  width: 5.5%;
  left: 30%;
  top: 12.67%;
}

.shevon {
  width: 6.75%;
  left: 22%;
  top: 17.92%;
}

@media(min-width: breakpointSmall) {

  .friendshipsPhotoContainer {
    width: 65%;
  }

  .tooltip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 200;
    white-space: nowrap;
    background-color: black;
  }
  
  .tooltip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: tooltipArrowSize;
    margin-left: calc(tooltipArrowSize * -1);
  }
  
  .tooltipLabel {
    color: white;
  }
  
  .tooltip.dark .tooltipLabel {
    color: colourDarkModeGrey50;
  }
  
  .tooltip.top {
    top: calc(tooltipMargin * -1);
  }
  
  .tooltip.top::before {
    top: 100%;
    border-top-color: black;
  }
  
  .tooltip.right {
    left: calc(100% + tooltipMargin);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  
  .tooltip.right::before {
    left: calc(tooltipArrowSize * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: black;
  }
  
  .tooltip.bottom {
    bottom: calc(tooltipMargin * -1);
  }
  
  .tooltip.bottom::before {
    bottom: 100%;
    border-bottom-color: black;
  }
  
  .tooltip.left {
    left: auto;
    right: calc(100% + tooltipMargin);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  
  .tooltip.left::before {
    left: auto;
    right: calc(tooltipArrowSize * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: black;
  }
}
